{% extends 'base.html' %}

{% block content%}



<h1 style="font-family: Arial, Helvetica, sans-serif; margin-left: 300px; margin-top: 30px;">«Ведение в ИС МКАДД журнала учёта разрешений замены материала»</h1>
<div style="font-family: Arial, Helvetica, sans-serif; margin-left: 300px; margin-top: 30px;">
    <p>Данное веб-приложение  для ведения в ИС МКАДД журнала учёта разрешений замены материала</p>
</div>

<div style="margin-left:300px;margin-top:30px">
    <a href={%url 'diplom:journal' %} class="btn btn-primary"> Журнал учёта разрешений</a>
</div>

{%endblock%}