{% extends 'base.html' %}
{% load static %}
{% block content%}


<div style='display:flex;'>
    <form method="post" style="margin-top: 20px;margin-left: 20px;">
        {% csrf_token %}
        С <input type="date" id="date_start" name="date_start" style="border-radius:10px; padding: 5px; box-shadow: none; outline: none;border: none ;" value="{{date_start}}">
        по <input type="date" id="date_end"  name="date_end" style="border-radius:10px; padding: 5px; box-shadow: none; outline: none; border: none;" value="{{date_end}}">
        
        цех <select style="border-radius:10px;padding: 5px; box-shadow: none; outline: none; border: none" id="div_no" name="div_no">
            <option value="" disabled selected>{{div_no}}</option>
                {% for i in divs%}
                    <option value="{{i}}">{{i}}</option>
                {%endfor%}
                <option value="0">Все</option>


            </select>
        
        <!-- все <input type="checkbox" id="div_all" name="div_all"> -->
        {%if pmd_no == 0 %}
        N/пп <input id="numberpunkt" type="number" style="border-radius:10px; padding: 5px; box-shadow: none; outline: none;border: none ;" name="numberpunkt">
        {%else%}
        N/пп <input id="numberpunkt" type="number" style="border-radius:10px; padding: 5px; box-shadow: none; outline: none;border: none ;" name="numberpunkt" value="{{pmd_no}}">
        {%endif%}
        <button class="btn" type="submit" style="margin-left:0.00001px;" id="search"> <img src={% static 'img/search.png' %}> Поиск</button>

    </form>

    

    <div style="margin-left:600px;margin-top:30px">
        <a class="btn btn-primary" href={% url "diplom:analytics" %}>Аналитика</a>
    </div>
    
    <div style="margin-left:30px;margin-top:30px; margin-right: 20px;">
        <a class="btn btn-primary" href={% url "diplom:main" %}>На главную</a>
        </div>
        
        <div style="margin-left:10px;margin-top:30px; margin-right: 20px;">
            <a class="btn btn-danger" href={% url "diplom:create" page_number %}>Создать</a>
    </div>

</div>
<div style="margin-left:20px;margin-top:30px;display: flex;">

    <select style="border-radius:10px;padding: 5px; box-shadow: none; outline: none; border: none" id="sort" name="sort">
        <option  disabled selected>Сортировка</option>
        <option value="1" >По дате(от новой к старой)</option>
        <option value="2" >По дате(от cтарой к новой)</option>


    </select>
    <button onclick="Sort()" class="btn btn-primary" style="margin-left: 20px;"> Сортировать </button>
    <!-- <button onclick="high(2)"  style="margin-left: 20px;"> 111112 </button> -->

</div>
{%if page_obj%}

<table id="myTable" style="margin-top: 20px; margin-left: 10px; margin-right: 10px;">
    <thead>
    <tr>                
        
        <th>№ пп</th>
        <th>Дата </th>
        <th>Обозначение</th>
        <th>Типоразмер</th>
        <th>№ СП</th>
        <th>Цех</th>
        <th>Документ разрешающий запуск материала</th>
        <th>Ответсвенный за паспорт</th>
        <th>Ответсвенный за материал</th>


        
    </tr>
    </thead>
    <tbody>
        {%for jur in page_obj%}
        <tr >
            <td>{{jur.numberpunkt}}</td>
            <td>{{jur.pmd_date_add}}</td>
            <td>{{jur.nomenclaturemeans}}</td>
            {%if jur.type_size %}
            <td>{{jur.type_size}}</td>
            {%else%}
            <td></td>
            {%endif%}
            <td>{{jur.fulnumpas}}</td>
            <td>{{jur.passportdivision}}</td>
            <td>{{jur.pmd_note_tp}}</td>
            <td>{{jur.ul_login}}</td>
            <td>{{jur.pmd_responsible}}</td>
            
            <td><div>
                <a href="{%url 'diplom:update' jur.pas_id jur.numberpunkt page_number %}" onclick="high(this)" class="btn btn-secondary" name="edits" type="button"  data-bs-toggle="modal" > Изменить</a>
                
            </div></td>
        </tr>
        {% endfor %}
     
    </tbody>   
    

</table>
{%else%}
    <h1 style="margin-top: 200px; margin-left: 500px;">Данные не найдены</h1>
{%endif%} 
<div style="margin-left: 20px;">
    {% include  'paginator.html'  %} 
</div>
   
<script>
    function Sort() {
        var selectEl = document.getElementById("sort").value;
        if (selectEl == 1){

            const url = new URL(window.location.href);
            const params = {
                sortdate: "True",
            };
            for (const[key] of url.searchParams){
                    url.searchParams.delete(key);
            }
            
            Object.keys(params).forEach(key => url.searchParams.set(key,params[key]));
            window.location.href = url;

            }
            if (selectEl == 2){

                const url = new URL(window.location.href);
                const params = {
                    sortdate: "False",
                };
                for (const[key] of url.searchParams){
                    url.searchParams.delete(key);
                }
                Object.keys(params).forEach(key => url.searchParams.set(key,params[key]));
                window.location.href = url;

            }
    }
        
        document.addEventListener(
            'DOMContentLoaded', (event) => {
                var selectEl1 = document.getElementById("div_no");
                
                const saved1 = localStorage.getItem('selectedOption2');
              

                if (saved1){
                    selectEl1.value = saved1;
                }

             

                
                selectEl1.addEventListener('change',(event) => {
                    localStorage.setItem('selectedOption2', event.target.value);
                });
            }
        );
        
      

        document.getElementById('search').addEventListener('click', function(){
            var basur = window.location.protocol + "//" + window.location.host + window.location.pathname;
            window.history.replaceState({},document.title, basur);
        });
        
        (function (){
            const urlSplit = document.location.href.split('#');
            
            if (urlSplit.length > 1) {
                const rows = document.querySelectorAll('tr');
                rows.forEach(row => {
                    row.style.backgroundColor = '';
                });

                rows.forEach(row => {
                    const firstCell = row.cells[0];
                    if (firstCell && firstCell.textContent.trim() == urlSplit[1]){
                        row.style.backgroundColor = 'yellow';
                        console.log(firstCell);

                    }
                });
            }

        })();
        
</script>

{%endblock%}