{% extends 'base.html' %}
{%load filters%}
{% block content%}

<div style="margin-left:1500px;margin-top:30px">
    <a id="a" href="{%url 'diplom:journal' %}?page={{page}}" class="btn btn-danger"> Назад</a>

</div>

<div class="row justify-content-center" id="a">
    <div class="col-mb-5 p-5">
        <div class="card" style="margin-left:600px;margin-right:600px;margin-top: -50px;">
            <div class="card-header">
                Создать
            </div>
            <div class="card-body" style="margin-right: 100px;margin-right: 100px;">
                <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                    {% csrf_token %}
                    {%if eror%}
                        <!-- <p style="color:red;">Ошибочные вводимые параметры 
                        </p> -->
                        <p style="color:red;">
                            <!-- № СП необходимо писать с "/" -->
                            <!-- {{erors}} -->
                            <script>
                                const er  = "{{erors}}"
                                console.log(er);
                                document.addEventListener('DOMContentLoaded', function(){
                                    show_message_error(er);
                                });
                            </script>
                            <div id="modalSheetShowMessage" class="modal show">
                                <div class="modal-dialog">
                                    <div class="modal-content rounded-4 shadow">
                                        <div class="modal-header border-bottom-0">
                                            <h5 class="modal-title">Ошибка</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-footer flex-column border-top-0">
                                            <div id="AlertMessage" class="alert alert-danger text-center fade show">Ошибка</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p>
                    {%endif%}
                    {%if form.errors %}
                        
                        
                        {% for feild in form%}
                            {% for er in feild.errors%}
                            <p style="color:red;">{{er}} </p>
                            {%endfor%}
                        {%endfor%}
                        {% for er in form.non_field_errors%}
                            <p style="color:red;">{{er}} </p>
                        {%endfor%}

                    {%endif%}
                    {% for feild in form%}
                    {%if feild.name == "div_no" %}
                    <div style="display: flex;">
                        <p style="margin-left: 30%;" id="a">Цех</p>
                        <select required style="border-radius:10px;padding: 5px; width: -webkit-fill-available;background-color: transparent;height: 30px; outline: none;margin-left:5%" id="div_no" name="div_no">
                            <option value="" disabled selected>{{div_no}}</option>
                                {% for i in divs%}
                                    <option value="{{i}}">{{i| zero}}</option>
                                {%endfor%}
            
                        </select>
                    </div>
                    {%elif feild.name == "pmd_note_tp"  %}
                    <div style="display: flex;">
                        <select required style="border-radius:10px;padding: 5px; width: 70%;margin-bottom:5%; background-color: transparent;height: 40px; outline: none;margin-left:30%" id="chois" name="chois">
                            <option  disabled value="" selected>Выбор</option>
                            <option value="pmd_note_tp" >Документ разрешающий запуск материала</option>
                            <option value="pmd_note_pi" >Примечание ПИ</option>
                    
                    
                        </select>
                    </div>
                    <div class="mb-4" style="margin-left:150px; display: none;" id="pmd_note_pi1">
                        Примечание ПИ
                        <div> 
                            <input type="text" name="pmd_note_pi" class="form-control"  id="pmd_note_pi">

                        </div>
                        <br>
                        Дата ПИ
                        <div>
                            <input type="date" name="date_pi" class="form-control"  id="date_pi">

                        </div>
                   
                    </div>

                    <div class="mb-4" style="margin-left:150px;display: none;" id="pmd_note_tp1">
                        Документ разрешающий запуск материала
                        <div> 
                            <input type="text" name="pmd_note_tp" value="СТО Ж08.0058-2014 п. 5.5.5д)6)" class="form-control"  id="pmd_note_tp">
                        </div>
                   
                    </div>

                    {%else%}
                        <div class="mb-4" style="margin-left:150px">
                            {{feild.label}}
                            <div > 
                                {{feild}}
                            </div>
                       
                        </div>
                    {%endif%}
                    
                    {%endfor%}
                    

                    <button class="btn btn-primary" type="submit" style="margin-left:250px;">Сохранить</button>
                    
                </form>
            </div>
        </div>
    </div>
   
</div>
<script>


document.addEventListener("DOMContentLoaded",
                        function(){
                            var selectInput = document.getElementById("chois");
                            var customInput = document.getElementById("pmd_note_pi1");
                            var customInput1 = document.getElementById("pmd_note_tp1");


                            selectInput.addEventListener("change",function(){
                                if (selectInput.value=="pmd_note_pi"){
                                    customInput.style.display = "block";
                                    customInput1.style.display = "none";
                                }else{
                                    customInput1.style.display = "block";
                                    customInput.style.display = "none";
                                }
                            });

                        });


function show_message_error(message) {
    const alertDivCheckInterval = setInterval(function() {
        const alertDiv = document.getElementById('AlertMessage');
        if (alertDiv) {
            alertDiv.innerHTML = message;
            const modalShowMessageEl = document.getElementById('modalSheetShowMessage');
            if (modalShowMessageEl) {
                const modalShowMessage = new bootstrap.Modal(modalShowMessageEl);
                modalShowMessage.show();
            }
            clearInterval(alertDivCheckInterval); // Останавливаем интервал, как только элемент найден
        }
    }, 100); // Проверяем каждые 100 миллисекунд
}
</script>
{%endblock%}