{% extends 'base.html' %}

{% block content%}

<div style="margin-left:1500px;margin-top:30px">
    <a id="a" href="{%url 'diplom:journal' %}?page={{page}}#{{numberpunkt}}" class="btn btn-danger"> Назад</a>

</div>

<div class="row justify-content-center">
    <div class="col-mb-5 p-5">
        <div class="card" style="margin-left:600px;margin-right:550px">
            <div class="card-header" id="a">
                Изменить
            </div>
            <div class="card-body" style="margin-right: 100px;margin-left: 100px;">
                <form method="post" accept-charset="UTF-8" enctype="multipart/form-data">
                    {% csrf_token %}
                    {%if eror%}
                        <p style="color:red;">Ошибочные вводимые параметры 
                        </p>
                    {%endif%}
                    <div class="mb-3" style="margin-left: 50px; margin-right: 50px;">
                        <p>Номер паспорта: {{result.pas_no}}</p>
                        <hr>
                        <p>Материал по ТП: {{result.pmd_material}}</p>
                        <!-- <p>{{result.pmd_material}}</p>  -->
                        <hr>
                        <p>Материал по лзк : реальный</p> 
                        <hr>
                        <p>Номер ЛЗК: {{result.lfc_no}}</p> 
                        <hr>
                        <p>{{result.m_lfc}}</p>
                        <hr>
                        <p>Ответсвенный за паспорт: {{result.ul_login}}</p>
                        <hr>
                        <p>Ответсвенный за материал: {{result.pmd_responsible}}</p>
                    </div>

                    <div class="mb-3" style="margin-left: 50px; margin-right: 50px;">
                        <label  class="form-label">Документ разрешающий запуск материала</label>
                        <input type="text" class="form-control" id="pmd_note_tp" name="pmd_note_tp" value="{{result.pmd_note_tp}}">
                    </div>
                    <div class="mb-3" style="margin-left: 50px; margin-right: 50px;">
                        <label  class="form-label">Примечание по ПИ</label>
                        <input type="text" class="form-control" id="pmd_note_pi" name="pmd_note_pi" value="{{result.pmd_note_pi}}">
                    </div>
                    <!-- <div class="mb-3" style="margin-left: 50px; margin-right: 50px;">
                        <label  class="form-label">Ответсвенный за паспорт</label>
                        
                        <input type="text" class="form-control" id="ul_login" name="ul_login" value="{{result.ul_login}}">
                    </div>
                    <div class="mb-3" style="margin-left: 50px; margin-right: 50px;">
                        <label  class="form-label">Ответсвенный за материал</label>
                        <input type="text" class="form-control" id="pmd_responsible" name="pmd_responsible" value="{{result.pmd_responsible}}">
                    </div> -->
                    

                    <button id="a" class="btn btn-primary" type="submit" style="margin-left:130px;">Сохранить</button>
                    
                </form>
            </div>
        </div>
    </div>

{%endblock%}